/* Base style */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

img {
  width: 100%;
  max-width: 100%;
  display: bloсk;
}

a {
  color: #ec407a;
}

a:hover {
  color: #e91e63;
}

button {
  display: block;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s background-color;
}

button:disabled {
  background-color: #cfd8dc;
}

button:disabled:hover {
  background-color: #cfd8dc;
}

main {
  display: flex;
  justify-content: center;
}

.main-content {
  max-width: 1575px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 20px 20px 50px;
  padding: 10px 50px 0;
  /* padding: 50px; */
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: center;
}

/* Action style */
.action {
  background-color: transparent;
  font-size: 50px;
  color: #fff;
}

.fetch {
  margin-bottom: 55px;
  padding: 20px 25px;
  background-color: rgba(76, 175, 80, 1);
  border-radius: 10px;
  font-size: 35px;
}

.fetch:hover {
  background-color: rgba(76, 175, 80, 0.8);
}

.close {
  padding: 0;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.close:hover {
  background-color: #4caf50;
}

.close:before,
.close:after {
  position: absolute;
  left: 22px;
  content: " ";
  height: 40px;
  width: 8px;
  background-color: #fff;
  border-radius: 3px;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* Images style */
.images.content {
  position: relative;
  margin-bottom: 20px;
  column-count: 4;
  column-gap: 10px;
  row-gap: 10px;
  min-height: 400px;
}

.link__image {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  min-height: 100px;
  font-size: 0;
  margin-bottom: 5px;
}

.link__image div img {
  overflow: hidden;
  opacity: 1;
  transition: opacity 124ms linear;
}

.link__image:hover div img {
  opacity: 0.7;
}

.link__image:nth-child(n) {
  background-color: #efebe9;
}

.link__image:nth-child(2n) {
  background-color: #d7ccc8;
}

.link__image:nth-child(3n) {
  background-color: #bcaaa4;
}

/* Popup style */
.popup {
  position: fixed;
  visibility: hidden;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.5);
  z-index: 99;
}

.popup--open {
  visibility: visible;
}

.popup .content {
  width: 65vw;
  margin: auto auto 50px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  text-align: right;
  column-count: initial;
}

.popup .content--vertical {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.popup--content {
  display: flex;
  flex-direction: column;
}

figure {
  max-width: 100%;
  min-height: 350px;
  margin: 0;
}

figure img {
  border-radius: 6px;
}

figcaption {
  color: #424242;
  margin: 5px 0;
}

.popup .link {
  display: inline;
}
