/* Base style */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

a {
    color: #EC407A;
}

a:hover {
    color: #E91E63;
}

button {
    display: block;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s background-color;
    background-color: #66BB6A;
}

button:disabled {
    background-color: #CFD8DC;
}

button:disabled:hover {
    background-color: #CFD8DC;
}

main {
    display: flex;
    justify-content: center;
  }
  
.main-content {
    max-width: 1575px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 20px 20px 50px;
    padding: 10px 50px 0;
    background-color: #fff;
}

.row {
    display: flex;
    justify-content: center;
}

/* Action style */

.action {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 10px 0;
}

.action:hover {
    background-color: #4CAF50;
}

.close {
    padding: 0;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
}

.close:hover {
    background-color: transparent;
}

/* Images style */
.images-content {
    position: relative;
    margin-bottom: 20px;
    column-count: 4;
    column-gap: 10px;
    min-height: 400px;
}

.image-link {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

.image-link div img {
    overflow: hidden;
    opacity: 1;
    transition: opacity 124ms linear;
}

.image-link:hover div img {
    opacity: 0.7;
}

.image-link:nth-child(n) {
    background-color: #EFEBE9;
}

.image-link:nth-child(2n) {
    background-color: #D7CCC8;
}

.image-link:nth-child(3n) {
    background-color: #BCAAA4;
}

/* Popup style */
.popup {
    position: fixed;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.5);
    z-index: 99;
}

.popup--open {
    visibility: visible;
}

.popup .content {
    width: 100%;
    max-width: 600px;
    margin: auto auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    text-align: right;
    column-count: initial;
  }

.popup-wrapper {
    display: flex;
    flex-direction: column;
}

figure {
    max-width: 100%;
    min-height: 350px;
    margin: 0;
}

figure img {
    border-radius: 6px;
}

figcaption {
    color: #424242;
    margin: 5px 0;
}

.popup .link {
    display: inline;
}
